<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default" ng-controller="analyserController">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <form ng-submit="analyse()">
              <div class="form-group">
                <label for="first_dataset">First dataset:</label>
                <textarea rows="5" class="form-control" id="first_dataset" ng-model="first_dataset"></textarea>
                <br>
                <input type="submit" class="btn btn-default" value="Analyse" />
              </div>
            </form>
          </div>
          <div class="col-md-6">
            <form ng-submit="correlation()">
              <div class="form-group">
                <label for="second_dataset">Second dataset:</label>
                <textarea rows="5" class="form-control" id="second_dataset" ng-model="second_dataset"></textarea>
                <br>
                <input type="submit" class="btn btn-default" value="Correlation" />
              </div>
            </form>
          </div>
        </div>
        <div class="text-center">
          <ul ng-repeat="(k, v) in result">
            <li> {{k}}: {{v}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
